*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ceff7f;
}

h1 {
    background-color: #006400;
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    /* font-style: oblique; */
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 35px;
    margin: 10px; 
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 2px 10px #ffff00, 6px 4px 5px #3aa708;
}

main p {
    text-indent: 50px;
    text-align: justify;
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

img {
    margin-left: 550px;
}